@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Pragmata Pro', monospace;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  
}

@font-face {
  font-family: 'Pragmata Pro';
  src: url('path/to/PragmataProRegular.woff2') format('woff2'),
       url('path/to/PragmataProRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


.hover-underline-animation {
  position: relative;
  text-decoration: none;
  color: rgba(36, 36, 36, 0.874);
}

.hover-underline-animation::after {
  color: var(--secondary);
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  margin: 0 auto;
  transition: width 0.4s ease-in-out;
  left: 50%;
  transform: translateX(-50%);
  bottom: -2px;
}

.hover-underline-animation:hover::after {
  color: #ea5439;
  width: 100%;
}

.hover-underline-animation:hover {
  color: #7882da;
  cursor: pointer;
}


.bg-img{
  background-image: url('./assets/clou1.jpg');
  display: flex;
  height: 100vh;
  background-size: cover
}

.background{
  box-shadow: rgba(153, 153, 153, 0.685) 0px 1px 1px,
  rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
  background-color: rgba(17, 15, 15, 0.4);
  backdrop-filter: blur(30px); /* Apply a blur effect to the background */
  -webkit-backdrop-filter: blur(10px); /* For Safari */
}

.dot{

}
.background-active{
  color: #ea5439;
  background-color: #343333;
}

.hover-animation {
  position: relative;
  text-decoration: none;
}

.hover-animation:hover::after {
  background-color: #0d0c0c4c;
  width: 100%;
}

.hover-animation:hover {
  background-color: #1e1c1cb0;
  cursor: pointer;
}