@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Pragmata Pro', monospace;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  
}

@font-face {
  font-family: 'Pragmata Pro';
  src: url('path/to/PragmataProRegular.woff2') format('woff2'),
       url('path/to/PragmataProRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.bg-img{
  background-image: url('./assets/clou1.jpg');
  display: flex;
  height: 100vh;
  background-size: cover
}

.background{
  box-shadow: rgba(153, 153, 153, 0.685) 0px 1px 1px,
  rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;

  background-color: rgba(20, 20, 20, 0.836);
  backdrop-filter: blur(10px); /* Apply a blur effect to the background */
  -webkit-backdrop-filter: blur(10px); /* For Safari */
}

.dot{

}
.background-active{
  color: #ea5439;
  background-color: #343333;
}

.hover-animation {
  position: relative;
  text-decoration: none;
}

.hover-animation:hover::after {
  background-color: #5852521f;
  width: 100%;
}

.hover-animation:hover {
  background-color: #5852521f;
  cursor: pointer;
}